<!DOCTYPE html>
<html>

<head>
  <title>Welcome to your very own Privacybox!</title>
  <style>
    body {
      width: 35em;
      margin: 0 auto;
      font-family: Tahoma, Verdana, Arial, sans-serif;
    }
  </style>
</head>

<body>
  <h1>Welcome to your very own Privacybox!</h1>
  <p>If you see this page, the nginx web server is successfully installed and working. Further configuration is required.</p>

  <p>The following services have been set up for you:</p>

    <h2>Nextcloud</h1>
    <a href="https://{{ privacybox_domain }}">https://{{ privacybox_domain }}</a>.

    <h2>Wallabag (Pocket alternative)</h2>
    <a href="https://wallabag.{{ privacybox_domain }}">https://wallabag.{{ privacybox_domain }}</a>

    <h2>Ampache (Music streaming)</h2>
    <a href="https://music.{{ privacybox_domain }}">https://music.{{ privacybox_domain }}</a>

  <p><em>Thank you for using Privacybox.</em></p>
</body>

</html>
